@use '../variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  border-radius: 30px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-family: $font-main;
  transition: all 0.3s ease;
  background: transparent;

  span {
    display: inline-block;
    white-space: nowrap;
    transition: transform 0.3s ease;
    font-family: $font-main;
    font-weight: 400;
    font-size: 18px;
  }

  &:hover {
  border-color: $primary-color;
  color: $primary-color;
}

/* 🔥 Bewegung nach links */
  &:hover span {
  animation: slideText 2s linear infinite;
}
}

/* 🔥 Keyframes */
@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-140%);
  }
}

.hero__buttons {
    display: flex;
    gap: 48px;
    padding-top: 32px;
}
