<header class="hero">
  <div class="hero__content">
    <p>{{ 'HERO.ROLE' | translate }}</p>
    <h1>Temirlan Gashimov</h1>
    <div class="hero__buttons">
      <a href="" class="btn"><span>{{ 'HERO.CTA_WORK' | translate }}</span></a>
      <a href="" class="btn"><span>{{ 'HERO.CTA_CONTACT' | translate }}</span></a>
    </div>
  </div>

  <div class="side side--left">
    <div class="scroll-indicator">
      <div class="scroll-indicator__icon">
        <span class="arrow">↓</span>
      </div>

      <div class="left__line"></div>
    </div>
  </div>

  <div class="side side--right">
    <div class="side__socials">
      
      <div class="side__email">temerlan.gashimov@gmail.com</div>
      
      <a href="mailto:temerlan.gashimov@gmail.com" class="mail-icon">
        <img class="email__side-icon" src="icons/mail.png" alt="" email />
      </a>

      <a href="#">
        <img src="icons/github.png" alt="github" />
      </a>
      <a href="#">
        <img src="icons/linkedin.png" alt="linkedin" />
      </a>

      <div class="right__line"></div>
    </div>
  </div>

  <div class="marquee">
    <div class="marquee__track">
      <span>{{ 'MARQUEE.ROLE' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.LOCATION' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.STATUS' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.REMOTE' | translate }}</span>
      <span>•</span>

      <!-- DUPLIKAT für Loop -->
      <span>{{ 'MARQUEE.ROLE' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.LOCATION' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.STATUS' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.REMOTE' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.ROLE' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.LOCATION' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.STATUS' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.REMOTE' | translate }}</span>
      <span>•</span>

      <!-- DUPLIKAT für Loop -->
      <span>{{ 'MARQUEE.ROLE' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.LOCATION' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.STATUS' | translate }}</span>
      <span>•</span>

      <span>{{ 'MARQUEE.REMOTE' | translate }}</span>
      <span>•</span>
    </div>
  </div>
</header>
