@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/base/buttons' as *;
@use '../../../../styles/abstracts/functions' as *;
@use '../../../../styles/abstracts/mixins' as *;

.hero {
    background-image: url(/images/hero/bg-hero.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 100vh;

    position: relative;
    overflow: hidden;
}

.hero__content {
    position: relative;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    margin-top: 180px;
    z-index: 2;
}

.hero__content p {
    font-size: 40px;
    font-weight: 400;
    font-family: $font-code;
}

.hero__content h1 {
    font-size: 128px;
    font-weight: 700;
    font-family: $font-main;
}

.side {
  position: absolute;
  left: 64px;
  top: 70%; 
  z-index: 1;
}

.scroll-indicator {
    @include flex-center;
  flex-direction: column;
}

/* Kreis mit Pfeil */
.scroll-indicator__icon {
  width: 30px;
  height: 48px;
  border: 2px solid $primary-color;
  border-radius: $btn-radius;
 @include flex-center;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.arrow {
  display: inline-block;
  animation: moveArrow 1.5s infinite ease-in-out;
}

@keyframes moveArrow {
  0% {
    transform: translateY(-4px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(4px);
    opacity: 1;
  }
  100% {
    transform: translateY(-4px);
    opacity: 0.5;
  }
}

/* Linie nach unten */
.left__line {
  width: 2px;
  z-index: 1;
  height: 186px;
  background: linear-gradient(
    to bottom,
    $primary-color,   
  );
}

.side--right {
  position: absolute;
    right: 64px;
    top: 39%;
    @include flex-center;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    z-index: 1;
}

/* Email vertikal */
.side__email {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Icons */
.side__socials {
    @include flex-center;
  flex-direction: column;
  gap: 16px;
}

.side__socials a {
  position: relative;
  display: flex;
  align-items: center;
}

.side__socials img {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

.side__socials a:hover img {
    filter: brightness(0) invert(1);
}

.side__socials a::before {
    content: "";
    position: absolute;

    top: 50%;
    transform: translateY(-50%) scale(0.5);


    right: -14px;
    width: 6px;
    height: 6px;
    background-color: $primary-color;
    border-radius: 50%;
    opacity: 0;
    
    transition: all 0.3s ease;
}

.side__socials a:hover::before {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    right: -14px; /* kleiner Slide */
}

/* Linie */
.right__line {
  width: 2px;
  height: 160px;
  background: linear-gradient(
    to bottom,
    white,
  );
}

.marquee {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 56px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    transform: rotate(-3deg);
    @include flex-center;
    // display: flex;
    // align-items: center;
    z-index: 1;
    }

.marquee__track {
    display: flex;
    width: max-content;
    animation: marquee 25s linear infinite;
}

.marquee span {
    white-space: nowrap;
    padding-right: 50px;
    font-size: 32px;
    color: $primary-color;
    font-family: $font-main; 
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

