@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/base/buttons' as *;
@use '../../../../styles/abstracts/mixins' as *;
@use '../../../../styles/abstracts/breakpoints' as *;

.hero {
  background-image: url('../../../../../public/images/hero/bg-hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 98px);
  position: relative;
  overflow: hidden;

  @include respond(mobile-lg) {
    height: calc(100vh - 65px);
  }

  @media (min-width: 801px) and (max-width: 1024px) {
    height: calc(100vh - 99px);
  }

  &__content {
    position: relative;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    margin: 160px 60px 0;
    z-index: 2;

    @include respond(desktop-m) {
      margin: 140px 80px 0;
    }

    @include respond(mobile-lg) {
      padding: 24px;
    }

    @include respond(mobile-max) {
      padding: 0 16px;
    }

    @include respond(mobile) {
      padding: 0 8px;
    }
  }

  &__role {
    font-size: 40px;
    font-weight: 400;
    font-family: $font-code;

    @include respond(desktop-m) {
      font-size: 36px;
    }

    @include respond(mobile-lg) {
      font-size: 26px;
    }

    @include respond(mobile-max) {
      font-size: 24px;
    }

    @media (min-width: 801px) and (max-width: 1024px) {
      font-size: 36px;
    }
  }

  &__title {
    font-size: 112px;
    font-weight: 700;
    font-family: $font-main;

    @include respond(desktop-m) {
      font-size: 96px;
    }

    @include respond(mobile-lg) {
      font-size: 62px;
    }

    @media (min-width: 801px) and (max-width: 1024px) {
      font-size: 88px;
    }
  }

  &__buttons {
    @include respond(mobile-lg) {
      gap: 48px;
    }

    @include respond(mobile-max) {
      gap: 16px;
    }

    @include respond(mobile) {
      gap: 8px;
    }

    .btn {
      @include respond(mobile-lg) {
        padding: 12px 14px;
      }
    }
  }

  &__scroll {
    @include flex-center;
    flex-direction: column;
  }

  &__scroll-icon {
    width: 30px;
    height: 48px;
    border: 2px solid $primary-color;
    border-radius: $btn-radius;
    @include flex-center;
    color: $text-light;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }

  &__scroll-arrow {
    display: inline-block;
    animation: moveArrow 1.5s infinite ease-in-out;
  }

  &__side {
    position: absolute;
    z-index: 1;

    &--left {
      left: 44px;
      top: 310px;

      @include respond(desktop-m) {
        left: 42px;
        top: 373px;
      }

      @include respond(mobile-lg) {
        left: 24px;
      }

      @media (min-width: 801px) and (max-width: 1024px) {
        left: 54px;
      }
    }

    &--right {
      right: 44px;
      top: 84px;
      @include flex-center;
      flex-direction: column;
      align-items: flex-end;
      gap: 20px;

      @include respond(desktop-m) {
        right: 42px;
        top: 124px;
      }

      @include respond(tablet) {
        top: 315px;
      }

      @include respond(mobile-lg) {
        right: 24px;
        top: 380px;
      }

      @include respond(mobile) {
        right: 18px;
      }

      @media (min-width: 801px) and (max-width: 1024px) {
        right: 54px;
        top: 120px;
      }
    }
  }

  &__line {
    width: 2px;

    &--left {
      z-index: 1;
      height: 200px;
      background: linear-gradient(to bottom, $primary-color);

      @include respond(desktop-m) {
        height: 157px;
      }

      @include respond(mobile-lg) {
        height: 190px;
      }
    }

    &--right {
      height: 150px;
      background: linear-gradient(to bottom, $text-light);

      @include respond(desktop-m) {
        height: 130px;
      }

      @include respond(tablet) {
        height: 140px;
      }

      @include respond(mobile-lg) {
        height: 110px;
      }

      @media (min-width: 801px) and (max-width: 1024px) {
        height: 134px;
      }
    }
  }

  &__socials {
    @include flex-center;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: $text-light;
    font-size: 16px;

    &:hover {
      color: $primary-color;
    }
  }

  &__social-link {
    position: relative;

    &:hover img {
      filter: brightness(0) invert(1);
    }

    &--mail {
      display: none;

      @include respond(tablet) {
        display: block;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scale(0.5);
      right: -14px;
      width: 6px;
      height: 6px;
      background-color: $primary-color;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover::before {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }

  &__social-icon {
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
  }

  &__email {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-decoration: none;
    color: $text-light;
    font-size: 16px;
    display: block;

    &:hover {
      color: $primary-color;
    }

    @include respond(tablet) {
      display: none;
    }
  }

  &__marquee {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 56px;
    overflow: hidden;
    background-color: rgba($text-light, 0.05);
    backdrop-filter: blur(3px);
    transform: rotate(-3deg);
    @include flex-center;
    z-index: 1;

    @include respond(mobile-lg) {
      bottom: 20px;
    }

    @include respond(mobile-max) {
      bottom: 24px;
    }

    @include respond(mobile) {
      bottom: 32px;
    }

    @media (min-width: 801px) and (max-width: 1024px) {
      bottom: 28px;
    }
  }

  &__marquee-track {
    display: flex;
    width: max-content;
    animation: marquee 25s linear infinite;
  }

  &__marquee-item,
  &__marquee-separator {
    white-space: nowrap;
    padding-right: 50px;
    font-size: 32px;
    color: $primary-color;
    font-family: $font-main;

    @include respond(mobile-lg) {
      font-size: 24px;
    }
  }
}

@keyframes moveArrow {
  0% {
    transform: translateY(-4px);
    opacity: 0.5;
  }

  50% {
    transform: translateY(4px);
    opacity: 1;
  }

  100% {
    transform: translateY(-4px);
    opacity: 0.5;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
