<header class="hero">
  <div class="hero__content">
    <p>Fullstack Developer</p>
    <h1>Temirlan Gashimov</h1>
    <div class="hero__buttons">
      <a href="" class="btn"><span>Check my Work</span></a>
      <a href="" class="btn"><span>Contact me</span></a>
    </div>
  </div>

  <div class="side side--left">
    <div class="scroll-indicator">
      <div class="scroll-indicator__icon">
        <span class="arrow">↓</span>
      </div>

      <div class="left__line"></div>
    </div>
  </div>

  <div class="side side--right">
    <div class="side__email">temerlan.gashimov@gmail.com</div>

    <div class="side__socials">
      <a href="mailto:temerlan.gashimov@gmail.com" class="mail-icon">
        <img src="icons/mail.png" alt="" email />
      </a>

      <a href="#">
        <img src="icons/github.png" alt="github" />
      </a>
      <a href="#">
        <img src="icons/linkedin.png" alt="linkedin" />
      </a>

      <div class="right__line"></div>
    </div>
  </div>

  <div class="marquee">
    <div class="marquee__track">
      <span>Fullstack Developer</span>
      <span>•</span>

      <span>Based in Hagen</span>
      <span>•</span>

      <span>Open to work</span>
      <span>•</span>

      <span>Available for remote work</span>
      <span>•</span>

      <!-- DUPLIKAT für Loop -->
      <span>Fullstack Developer</span>
      <span>•</span>

      <span>Based in Hagen</span>
      <span>•</span>

      <span>Open to work</span>
      <span>•</span>

      <span>Available for remote work</span>
      <span>•</span>

      <span>Fullstack Developer</span>
      <span>•</span>

      <span>Based in Hagen</span>
      <span>•</span>

      <span>Open to work</span>
      <span>•</span>

      <span>Available for remote work</span>
      <span>•</span>

      <!-- DUPLIKAT für Loop -->
      <span>Fullstack Developer</span>
      <span>•</span>

      <span>Based in Hagen</span>
      <span>•</span>

      <span>Open to work</span>
      <span>•</span>

      <span>Available for remote work</span>
      <span>•</span>
    </div>
  </div>
</header>
