$breakpoints: (
  mobile: 320px,
  mobile-max: 391px,
  mobile-lg: 710px,
  tablet: 800px,
  desktop: 1024px,
  desktop-m: 1160px,
  large: 4000px,
);

@mixin respond($size, $direction: max) {
  $width: null;

  @if map-has-key($breakpoints, $size) {
    $width: map-get($breakpoints, $size);
  } @else {
    $width: $size;
  }

  @if $direction == min {
    @media (min-width: $width) {
      @content;
    }
  } @else {
    @media (max-width: $width) {
      @content;
    }
  }
}
