<section class="about-me">
  <div class="about-me__image">
    <img src="images/Photo.png" alt="Photo" />
  </div>

  <div class="about-me__content">
    <p class="about-me__subtitle">{{ 'ABOUT_SECTION.SUBTITLE' | translate }}</p>

    <div class="about-me__card">
      <h2>{{ 'ABOUT_SECTION.TITLE' | translate }}</h2>

      <p class="about-me__text">
        {{ 'ABOUT_SECTION.TEXT' | translate }}
      </p>

      <div class="about-me__features">
        <div class="feature">
          <img src="icons/location_on.png" alt="location" />
          <p>
            {{ 'ABOUT_SECTION.FEATURE_1' | translate }}
          </p>
        </div>

        <div class="feature">
          <img src="icons/cognition.png" alt="cognition" />
          <p>
            {{ 'ABOUT_SECTION.FEATURE_2' | translate }}
          </p>
        </div>

        <div class="feature">
          <img src="icons/new_releases.png" alt="new_releases" />
          <p>
            {{ 'ABOUT_SECTION.FEATURE_3' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
