<section class="about-me">
  <div class="about-me__image">
    <img src="images/Photo.png" alt="Photo" />
  </div>

  <div class="about-me__content">
    <p class="about-me__subtitle">Who I Am</p>

    <div class="about-me__card">
      <h2>About me</h2>

      <p class="about-me__text">
        Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you
        passionate about coding? What is your source of inspiration for improving your programming
        skills?
      </p>

      <div class="about-me__features">
        <div class="feature">
          <img src="icons/location_on.png" alt="location" />
          <p>
            Where are you based? Would you be open to working remotely or potentially relocating?
          </p>
        </div>

        <div class="feature">
          <img src="icons/cognition.png" alt="cognition" />
          <p>
            Show that you are open-minded. Are you enthusiastic about learning new technologies and
            continually improving your skills?
          </p>
        </div>

        <div class="feature">
          <img src="icons/new_releases.png" alt="new_releases" />
          <p>
            A brief description of your problem-solving approach. Do you learn from each challenge
            as you search for the most efficient or elegant solution? You can include some keywords
            like: analytical thinking, creativity, persistence and collaboration.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
