@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;
@use '../../../../styles/abstracts/breakpoints' as *;

.about-me {
  background-color: $bg-dark;
  padding: 144px 110px;

  @include respond(desktop) {
    padding: 48px;
  }

  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    padding: 34px;
  }

  @include respond(mobile-lg) {
    padding: 24px;
  }

  @include respond(mobile-max) {
    padding: 16px;
  }

  @include respond(mobile) {
    padding: 8px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: stretch;

    @include respond(desktop) {
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    @include respond(desktop) {
      margin-top: 58px;
      padding: 0;
    }

    @include respond(mobile-max) {
      margin-top: 40px;
    }

    @include respond(mobile) {
      margin-top: 32px;
    }

    img {
      width: 100%;
      max-width: 500px;
      border-radius: 30px;
      object-fit: cover;
      filter: grayscale(100%);
      padding-top: 80px;

      @include respond(desktop) {
        max-width: 100%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 150px;

    @include respond(desktop) {
      padding: 0;
      padding-top: 70px;
    }

    @include respond(tablet) {
      padding: 0;
    }
  }

  &__subtitle {
    color: $primary-color;
    font-size: 24px;
    font-weight: 500;

    @include respond(mobile-max) {
      font-size: 18px;
    }

    @include respond(mobile) {
      font-size: 16px;
    }
  }

  &__card {
    padding: 40px;
    border: 1px solid $primary-color;
    border-radius: 30px;
    background: rgba($primary-color, 0.05);
    backdrop-filter: blur(10px);

    @include respond(desktop) {
      padding: 16px;
    }
  }

  &__title {
    font-size: 64px;
    font-family: $font-code;
    font-weight: bold;
    margin-bottom: 20px;
    color: $primary-color;

    @include respond(desktop) {
      font-size: 56px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 8px;
    }

    @include respond(mobile-lg) {
      font-size: 50px;
    }

    @include respond(mobile-max) {
      font-size: 46px;
    }

    @include respond(mobile) {
      font-size: 42px;
    }
  }

  &__text {
    color: $text-light;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 18px;

    @include respond(desktop) {
      line-height: 1.4;
      padding: 0 24px 0 24px;
    }

    @include respond(mobile-max) {
      font-size: 16px;
    }

    @include respond(mobile) {
      padding: 0;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include respond(desktop) {
      padding: 0 24px 0 24px;
    }

    @include respond(mobile) {
      padding: 0;
    }
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    gap: 15px;

    @include respond(desktop) {
      gap: 24px;
    }

    &-icon {
      width: 32px;
      height: 32px;
    }

    &-text {
      color: rgba($text-light, 0.7);
      font-size: 18px;
      line-height: 1.2;

      @include respond(mobile-max) {
        font-size: 16px;
      }
    }

    &:hover &-text {
      color: $text-light;
      transform: translateY(-1px);
      transition: 0.1s;
    }
  }
}
