@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;
@use '../../../../styles/abstracts/breakpoints' as *;

.about-me {
  background-color: rgba(28, 28, 28, 1);
  padding: 40px 80px;
}

.about-me .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
    align-items:stretch;
}

.about-me__image img {
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  object-fit: cover;
  filter: grayscale(100%);
  padding-top: 80px;
}

.about-me__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 150px;
}

.about-me__subtitle {
  color: $primary-color;
  font-size: 24px;
  font-weight: 500;
}

.about-me__card {
  padding: 40px;
  border:
    1px solid,
    $primary-color;
  border-radius: 30px;
  background: rgba(43, 212, 189, 0.05);
  backdrop-filter: blur(10px);
}

.about-me__card h2 {
  font-size: 64px;
  font-family: $font-code;
  font-weight: bold;
  margin-bottom: 20px;
  color: $primary-color;
}

.about-me__text {
  color: white;
  line-height: 1.6;
  margin-bottom: 30px;
  font-size: 18px;
}

.about-me__features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  // color:  #ccc;
}

.feature img {
  width: 32px;
  height: 32px;
}

.feature p {
  color: #aaa;
  font-size: 18px;
  line-height: 1.2;
}

.feature:hover p {
  color: white;
  transform: translateY(-1px);
  transition: 0.1s;
}



@include respond(desktop) {
  .about-me {
    // display: flex;
    // flex-direction: column;
    padding: 48px;
  }

  .about-me .container {
    display: flex;
    flex-direction: column;
  }

  .about-me__image {
    margin-top: 58px;
    padding: 0;

    img {
      max-width: 100%;
    }
  }

  .about-me__content {
    padding: 0;
    padding-top: 70px;
  }

  .about-me__subtitle {
    font-size: 24px;
  }

  .about-me__card {
    padding: 16px;
  }

  .about-me__card h2 {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
  }

  .about-me__text {
    font-size: 18px;
    line-height: 1.4;
    padding: 0 24px 0 24px;
  }

  .about-me__features {
    padding: 0 24px 0 24px;
  }

  .feature {
    gap: 24px;
  }

  .feature p {
    font-size: 18px;
  }
}

@include respond(tablet) {
  .about-me {
    display: flex;
    flex-direction: column;
    padding: 34px;
  }

  .about-me__image {
    margin-top: 58px;
    padding: 0;

    img {
      max-width: 100%;
    }
  }

  .about-me__content {
    padding: 0;
  }

  .about-me__subtitle {
    font-size: 24px;
  }

  .about-me__card {
    padding: 16px;
  }

  .about-me__card h2 {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
  }

  .about-me__text {
    font-size: 18px;
    line-height: 1.4;
    padding: 0 24px 0 24px;
  }

  .about-me__features {
    padding: 0 24px 0 24px;
  }

  .feature {
    gap: 24px;
  }

  .feature p {
    font-size: 18px;
  }
}

@include respond(mobile-lg) {
  .about-me {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  .about-me .container {
    display: flex;
    flex-direction: column;
  }

  .about-me__image {
    margin-top: 58px;
    padding: 0;

    img {
      max-width: 100%;
    }
  }

  .about-me__content {
    padding: 0;
  }

  .about-me__subtitle {
    font-size: 24px;
  }

  .about-me__card {
    padding: 16px;
  }

  .about-me__card h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
  }

  .about-me__text {
    font-size: 18px;
    line-height: 1.4;
    padding: 0 24px 0 24px;
  }

  .about-me__features {
    padding: 0 24px 0 24px;
  }

  .feature {
    gap: 24px;
  }

  .feature p {
    font-size: 18px;
  }
}

@include respond(mobile-max) {

  .about-me {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .about-me .container {
    display: flex;
    flex-direction: column;
  }

  .about-me__image {
    margin-top: 40px;
    padding: 0;
  }

  .about-me__content {
    padding: 0;
  }

  .about-me__subtitle {
    font-size: 18px;
  }

  .about-me__card {
    padding: 16px;
  }

  .about-me__card h2 {
    font-size: 46px;
    font-weight: 700;
    text-align: center;
  }

  .about-me__text {
    font-size: 16px;
    line-height: 1.4;
    padding: 0 24px 0 24px;
  }

  .about-me__features {
    padding: 0 24px 0 24px;
  }

  .feature p {
    font-size: 16px;
  }
}

@include respond(mobile) {
  .about {
    padding: 0 8px 0 8px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }

  .about-me .container {
    display: flex;
    flex-direction: column;
  }

  .about-me__image {
    margin-top: 32px;
    padding: 0;
  }

  .about-me__content {
    padding: 0;
  }

  .about-me__subtitle {
    font-size: 16px;
  }

  .about-me__card {
    padding: 16px;
  }

  .about-me__card h2 {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
  }

  .about-me__text {
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
  }

  .about-me__features {
    padding: 0;
  }

  .feature p {
    font-size: 16px;
  }
}
