<header class="header">
  <div class="header__container container">
    <button class="header__burger" [class.header__burger--active]="menuOpen" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="header__nav-links">
      <nav class="header__nav" [class.header__nav--open]="menuOpen">
        <div class="header__lang-switch">
          <span
            class="header__lang-switch-item"
            (click)="setLanguage('en')"
            [class.header__lang-switch-item--active]="currentLanguage === 'en'"
            >EN</span
          >
          <span
            class="header__lang-switch-item"
            (click)="setLanguage('de')"
            [class.header__lang-switch-item--active]="currentLanguage === 'de'"
            >DE</span
          >
        </div>

        <a
          [routerLink]="['/']"
          fragment="about"
          (click)="setActive('about'); closeMenu()"
          class="header__nav-link"
          [class.header__nav-link--active]="activeSection === 'about'"
        >
          {{ 'ABOUT' | translate }}
        </a>
        <a
          [routerLink]="['/']"
          fragment="skills"
          (click)="setActive('skills'); closeMenu()"
          class="header__nav-link"
          [class.header__nav-link--active]="activeSection === 'skills'"
        >
          {{ 'SKILLS' | translate }}
        </a>
        <a
          [routerLink]="['/']"
          fragment="projects"
          (click)="setActive('projects'); closeMenu()"
          class="header__nav-link"
          [class.header__nav-link--active]="activeSection === 'projects'"
        >
          {{ 'PROJECTS' | translate }}
        </a>
      </nav>

      <a [routerLink]="['/']" class="header__logo">
        <img src="icons/favicon.png" alt="Logo" />
      </a>
    </div>
  </div>
</header>
