<header class="header">
  <button class="burger" [class.active]="menuOpen" (click)="toggleMenu()">
  <span></span>
  <span></span>
  <span></span>
  </button>
  
  <div class="nav-links" >
    <nav class="header__nav" [class.open]="menuOpen">
      <div class="lang-switch">
        <span (click)="setLanguage('en')" [class.active]="currentLanguage === 'en'">EN</span>
        <span (click)="setLanguage('de')" [class.active]="currentLanguage === 'de'">DE</span>
      </div>

      <a (click)="scrollTo('about')" [class.active]="activeSection === 'about'"> {{ 'ABOUT' | translate }}</a>
      <a (click)="scrollTo('skills')" [class.active]="activeSection === 'skills'">{{ 'SKILLS' | translate }}</a>
      <a (click)="scrollTo('projects')" [class.active]="activeSection === 'projects'">{{ 'PROJECTS' | translate }}</a>
    </nav>

    <!-- <div class="logo">
      <div>Temirlan Gashimov</div>
    </div> -->
  </div>
</header>
