<header class="header">
  <!-- <button class="burger" (click)="toggleMenu()">
  <span></span>
  <span></span>
  <span></span>
  </button>
   -->
  <div class="nav-links">
    <nav class="header__nav">
      <div class="lang-switch">
        <span (click)="setLanguage('EN')" [class.active]="currentLanguage === 'EN'">EN</span>
        <span (click)="setLanguage('DE')" [class.active]="currentLanguage === 'DE'">DE</span>
      </div>

      <a (click)="scrollTo('about')" [class.active]="activeSection === 'about'">About me</a>
      <a (click)="scrollTo('skills')" [class.active]="activeSection === 'skills'">Skills</a>
      <a (click)="scrollTo('projects')" [class.active]="activeSection === 'projects'">Projects</a>
    </nav>

    <!-- <div class="logo">
      <div>Temirlan Gashimov</div>
    </div> -->
  </div>
</header>
