@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/base/buttons' as *;
@use '../../../../styles/abstracts/mixins' as *;
@use '../../../../styles/abstracts/breakpoints' as *;

.header {
  background-image: url(..//..//..//..//..//public/images/hero/bg-hero.png);
  background-size: cover;

  &__nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 100px;

    @include respond(desktop) {
      padding: 35px 54px;
    }

    @include respond(tablet) {
      padding: 35px 24px;
    }

    @include respond(mobile-lg) {
      padding: 20px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      height: 64px;
      width: auto;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  &__nav {
    @include flex-center;
    gap: 40px;
    cursor: pointer;

    @include respond(mobile-lg) {
      position: fixed;
      top: 228px;
      left: 75%;
      transform: translate(-50%, -50%) scale(0.8);
      width: 54%;
      max-width: 320px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
      border-radius: 30px;
      border: 1px solid $primary-color;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      z-index: 3;
    }

    @include respond(mobile-max) {
      position: fixed;
      top: 214px;
      left: 74%;
      width: 55%;
    }

    @include respond(mobile) {
      position: fixed;
      top: 217px;
      left: 212px;
      width: 65%;
    }

    &--open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__nav-link {
    position: relative;
    font-family: $font-code;
    text-decoration: none;
    color: white;
    transition: color 0.25s ease;
    font-size: 20px;

    @include respond(mobile-lg) {
      font-size: 24px;
    }

    @include respond(mobile-max) {
      font-size: 20px;
    }

    &--active {
      color: $primary-color;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%) scale(0);
      width: 6px;
      height: 6px;
      background-color: $primary-color;
      border-radius: 50%;
      transition: color 0.25s ease;
      opacity: 0;
    }

    &:hover::after,
    &--active::after {
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
  }

  &__lang-switch {
    display: flex;
    border: 2px solid $primary-color;
    border-radius: 30px;
    overflow: hidden;
    width: fit-content;

    &:hover {
      border-color: white;
    }
  }

  &__lang-switch-item {
    padding: 6px 16px;
    cursor: pointer;
    color: $primary-color;
    transition: all 0.3s ease;

    @include respond(mobile-lg) {
      padding: 16px 24px;
      font-size: 20px;
    }

    &:hover {
      opacity: 0.8;
    }

    &--active {
      background-color: $primary-color;
      color: #fff;
      border-radius: 30px;
      transition: all 0.2s ease;
    }
  }

  &__burger {
    display: none;

    @include respond(mobile-lg) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 24px;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: none;
      border: none;
      cursor: pointer;

      span {
        width: 25px;
        height: 3px;
        background: white;
      }
    }

    @include respond(mobile-max) {
      right: 20px;
    }

    @include respond(mobile) {
      right: 20px;
    }

    &--active span {
      background: $primary-color;
    }
  }
}
