<section class="portfolio">
  <div class="container">
    <p class="subtitle">{{ 'PORTFOLIO.SUBTITLE' | translate }}</p>

    <h2 class="title">{{ 'PORTFOLIO.TITLE' | translate }}</h2>

    <p class="description">
      {{ 'PORTFOLIO.DESCRIPTION' | translate }}
    </p>

    <div class="projects">
      <div class="project" *ngFor="let project of activeProjects" (click)="openProject(project)">
        <p class="project-name">
          {{ project.name }}
          <span class="arrow">↗</span>
        </p>

        <span class="tech">
          {{ project.technologies.join(' | ') }}
        </span>

        <div class="preview">
          <img [src]="project.image" [alt]="project.name" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL-->
<div class="modal" *ngIf="selectedProject" (click)="closeProject()">
 
    <div #modalRef class="modal-content" (click)="$event.stopPropagation()">
    <!--Close-->
    <span class="close" (click)="closeProject()">✕</span>

    <!--Left-->
    <div class="modal-left">
      <h1>{{ getProjectNumber(selectedProject!) }}</h1>

      <h2>{{ selectedProject.name }}</h2>

      <p class="modal-title">{{ 'PORTFOLIO.MODAL.ABOUT' | translate }}</p>

      <p>
        {{ selectedProject.description | translate }}
      </p>

      <div class="modal-tech">
        <div class="tech-item" *ngFor="let tech of selectedProject.technologies">
            
            <img [src]="techIcons[tech]" [alt]="tech">
          <span>
            {{ tech }}
          </span>
        </div>
      </div>

      <div class="modal-buttons">
        <a href="https://github.com/TemirlanGashimov/EL_POLLO_LOCO" target="_blank">
            {{ 'PORTFOLIO.MODAL.GITHUB' | translate }} <span class="arrow"> ↗ </span>
        </a>

        <a href="#" target="_blank">
            {{ 'PORTFOLIO.MODAL.LIVE' | translate }} <span class="arrow"> ↗ </span>
        </a>
      </div>
    </div>

    <!--Right-->
    <div class="modal-right">
      <img [src]="selectedProject.modalImage" [alt]="selectedProject.name" />
    </div>

    <button class="next-project" (click)="nextProject()" [disabled]="activeProjects.length <= 1">
        <span class="text">{{ 'PORTFOLIO.MODAL.NEXT' | translate }}</span>
        <span class="arrow">→</span>
    </button>
  </div>
</div>
