<section class="skills">
    <div class="container">
  <div class="skills__container">
    <div class="skills__content">
      <p class="skills__subtitle">{{ 'SKILLS_SECTION.SUBTITLE' | translate }}</p>

      <div class="skills__card">
        <h2 class="skills__title">{{ 'SKILLS_SECTION.TITLE' | translate }}</h2>

        <p class="skills__text">
          {{ 'SKILLS_SECTION.TEXT' | translate }}
        </p>

        <h3 class="skills__heading">
          {{ 'SKILLS_SECTION.QUESTION' | translate }} <span class="skills__highlight">{{ 'SKILLS_SECTION.QUESTION_HIGHLIGHT' | translate }}</span>
        </h3>
        <p class="skills__description">
          {{ 'SKILLS_SECTION.DESCRIPTION' | translate }}
        </p>

        <a href="#" class="btn"><span>{{ 'SKILLS_SECTION.BUTTON' | translate }}</span></a>
      </div>
    </div>

    <div class="skills__grid">
      @for (skill of skills; track skill.name) {
        @if (skill.active) {
          <div class="skills__item">
            <img [src]="'icons/' + skill.icon" [alt]="skill.name + ' logo'" />
            <p class="skills__label">{{ skill.name }}</p>

            @if (skill.tooltip) {
              <div class="skills__tooltip">
                <p class="skills__tooltip-text">{{ 'SKILLS_SECTION.TOOLTIP' | translate }}</p>

                <div class="skills__tooltip-icons">
                  <div>
                    <img src="icons/react.svg" alt="React" />
                    <p>React</p>
                  </div>

                  <div>
                    <img src="icons/vue.svg" alt="Vue" />
                    <p>Vue.js</p>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      }
    </div>
  </div>
  </div>
</section>
