<section class="skills">
  <div class="skills__content">
    <p class="skills__subtitle">Technologies</p>

    <div class="skills__card">
      <h2 class="skills__title">Skill Set</h2>

      <p class="skills__text">
        A short introduction of your skills. Highlight your experience of using different front-end
        technologies and emphasise your openness to learning and adapting to new technologies. Show
        how important it is for you to keep up with the rapid changes in web development.
      </p>

      <p class="skills__highlight">You need another skill?</p>

      <p class="skills__description">Feel free to contact me...</p>

      <a href="#" class="skills__button">Let's Talk</a>
    </div>
  </div>

  <div class="skills__grid">

    <div class="skills__item">
      <img src="icons/html.png" alt="HTML logo" />
      <p>HTML</p>
    </div>

     <div class="skills__item">
      <img src="icons/css.png" alt="CSS logo" />
      <p>CSS</p>
    </div>

     <div class="skills__item">
      <img src="icons/javascript.png" alt="JavaScript logo" />
      <p>JavaScript</p>
    </div>

     <div class="skills__item">
      <img src="icons/material_design.png" alt="Material Design logo" />
      <p>Material Design</p>
    </div>

     <div class="skills__item">
      <img src="icons/typescript.png" alt="TypeScript logo" />
      <p>TypeScript</p>
    </div>

     <div class="skills__item">
      <img src="icons/angular.png" alt="Angular logo" />
      <p>Angular</p>
    </div>

     <div class="skills__item">
      <img src="icons/supabase.png" alt="Supabase logo" />
      <p>Supabase</p>
    </div>

     <div class="skills__item">
      <img src="icons/git.png" alt="Git logo" />
      <p>Git</p>
    </div>

     <div class="skills__item">
      <img src="icons/rest-api.png" alt="Rest-Api logo" />
      <p>REST-API</p>
    </div>

     <div class="skills__item">
      <img src="icons/scrum.png" alt="Scrum logo" />
      <p>Scrum</p>
    </div>

     <div class="skills__item">
      <img src="icons/growth_mindset.png" alt="Growth Mindset logo" />
      <p>Growth Mindset</p>
    </div>


  </div>
</section>
