<section class="legal">
  <div class="legal-container">
    <h1>{{ 'LEGAL.TITLE' | translate }}</h1>

    <section>
      <h3>{{ 'LEGAL.IMPRINT_TITLE' | translate }}</h3>
      <ul>
        <li>{{ 'LEGAL.NAME' | translate }}</li>
        <li>{{ 'LEGAL.ADDRESS_1' | translate }}</li>
        <li>{{ 'LEGAL.ADDRESS_2' | translate }}</li>
      </ul>
    </section>

    <section>
      <h3>{{ 'LEGAL.CONTACT_TITLE' | translate }}</h3>
      <p>{{ 'LEGAL.EMAIL' | translate }}</p>
    </section>

    <section>
      <h3>{{ 'LEGAL.TERMS_TITLE' | translate }}</h3>
      <p>
        {{ 'LEGAL.TERMS_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h3>{{ 'LEGAL.SCOPE_TITLE' | translate }}</h3>
      <p>
        {{ 'LEGAL.SCOPE_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h3>{{ 'LEGAL.RIGHTS_TITLE' | translate }}</h3>
      <p>
        {{ 'LEGAL.RIGHTS_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h3>{{ 'LEGAL.USE_TITLE' | translate }}</h3>
      <p>
        {{ 'LEGAL.USE_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h3>{{ 'LEGAL.DISCLAIMER_TITLE' | translate }}</h3>
      <p>
        {{ 'LEGAL.DISCLAIMER_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h3>{{ 'LEGAL.INDEMNITY_TITLE' | translate }}</h3>
      <p>
        {{ 'LEGAL.INDEMNITY_TEXT' | translate }}
      </p>
    </section>

    <p class="date">{{ 'LEGAL.DATE' | translate }}</p>
  </div>
</section>
