@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/breakpoints' as *;

.legal {
  background: linear-gradient(55.22deg, $bg-dark 36.26%, $bg-gradient-end 93.28%);
  color: $primary-color;
  padding: 80px 0;

  @include respond(desktop) {
    padding: 48px;
  }
  @include respond(tablet) {
    padding: 34px;
  }
  @include respond(mobile-lg) {
    padding: 24px;
  }
  @include respond(mobile-max) {
    padding: 16px;
  }
  @include respond(mobile) {
    padding: 8px;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;

    @include respond(desktop) {
      padding: 0;
    }
  }

  &__title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: $font-code;
    margin-bottom: 60px;

    @include respond(tablet) {
      font-size: 58px;
    }
    @include respond(mobile-lg) {
      font-size: 44px;
    }
    @include respond(mobile-max) {
      font-size: 36px;
    }
  }

  &__section {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: 700;
    font-family: $font-main;
    color: $text-light;
  }

  &__text,
  &__list-item {
    font-size: 16px;
    line-height: 1.4;
    font-family: $font-main;
    font-weight: 400;
  }

  &__list {
    padding-left: 24px;
    margin: 10px 0;
  }

  &__date {
    margin-top: 30px;
    font-size: 19px;
  }
}
