<section class="legal">
  <div class="legal__container">
    <h1 class="legal__title">{{ 'LEGAL.TITLE' | translate }}</h1>

    <div class="legal__section">
      <h3 class="legal__subtitle">{{ 'LEGAL.IMPRINT_TITLE' | translate }}</h3>
      <ul class="legal__list">
        <li class="legal__list-item">{{ 'LEGAL.NAME' | translate }}</li>
        <li class="legal__list-item">{{ 'LEGAL.ADDRESS_1' | translate }}</li>
        <li class="legal__list-item">{{ 'LEGAL.ADDRESS_2' | translate }}</li>
      </ul>
    </div>

    <div class="legal__section">
      <h3 class="legal__subtitle">{{ 'LEGAL.CONTACT_TITLE' | translate }}</h3>
      <p class="legal__text">{{ 'LEGAL.EMAIL' | translate }}</p>
    </div>

    <div class="legal__section">
      <h3 class="legal__subtitle">{{ 'LEGAL.TERMS_TITLE' | translate }}</h3>
      <p class="legal__text">
        {{ 'LEGAL.TERMS_TEXT' | translate }}
      </p>
    </div>

    <div class="legal__section">
      <h3 class="legal__subtitle">{{ 'LEGAL.SCOPE_TITLE' | translate }}</h3>
      <p class="legal__text">
        {{ 'LEGAL.SCOPE_TEXT' | translate }}
      </p>
    </div>

    <div class="legal__section">
      <h3 class="legal__subtitle">{{ 'LEGAL.RIGHTS_TITLE' | translate }}</h3>
      <p class="legal__text">
        {{ 'LEGAL.RIGHTS_TEXT' | translate }}
      </p>
    </div>

    <div class="legal__section">
      <h3 class="legal__subtitle">{{ 'LEGAL.USE_TITLE' | translate }}</h3>
      <p class="legal__text">
        {{ 'LEGAL.USE_TEXT' | translate }}
      </p>
    </div>

    <div class="legal__section">
      <h3 class="legal__subtitle">{{ 'LEGAL.DISCLAIMER_TITLE' | translate }}</h3>
      <p class="legal__text">
        {{ 'LEGAL.DISCLAIMER_TEXT' | translate }}
      </p>
    </div>

    <div class="legal__section">
      <h3 class="legal__subtitle">{{ 'LEGAL.INDEMNITY_TITLE' | translate }}</h3>
      <p class="legal__text">
        {{ 'LEGAL.INDEMNITY_TEXT' | translate }}
      </p>
    </div>

    <p class="legal__date">{{ 'LEGAL.DATE' | translate }}</p>
  </div>
</section>
