@use './styles/abstracts/variables' as *;
@use './styles/abstracts/base/reset';
@use './styles/abstracts/base/typography';

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}