@use './styles/abstracts/variables' as *;
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-main;
    color: white;
}

body.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}