<footer class="footer">
    <div class="footer-container">

        <div class="footer-left">
            <p>Fullstack Developer</p>
            <p>Hagen Germany</p>
        </div>

        <div class="footer-right">
            <a href="https://github.com/TemirlanGashimov" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="#">LinkedIn</a>
            <a href="mailto:gashimov.temerlan@gmail.com">Email</a>
            <a routerLink="/legal-notice">Legal Notice</a>
        </div>

    </div>

      <div class="footer-center">
            <p>© Temirlan Gashimov 2026</p>
        </div>
</footer>